.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../picture/oleg-leshiy-shekhovtsov-valkia-ill.jpg);
}

body{
    background-color: #741212;
    margin: 0;
    padding: 0;
}